
$patromap: (
    fondo: linear-gradient(to right,
    #000, #808080),
    pdtop: 70px,
    pdbott: 400px,
);




  $fundamap: (
      textt: center,
      pdbott: 100px,
      mgtop: 30%,
  );



$redmap: (
    fl: right,
    dis: flex,
    wid: 120px,
    hei: 30px,
);

